<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>View Grades</title>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            overflow-x: auto;
            display: block;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 1em;
            text-align: center;
            min-width: 5em; 
        }
        th {
            background-color: #f2f2f2;
        }
        .container {
            overflow-x: auto;
            white-space: nowrap;
        }
    </style>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">

    <div class="container">
        <h2>View Grades</h2>

        <table>
            <thead>
                <tr>
                    <th class="assignment-column">Assignment</th>
                    <th class="grade-column">Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="assignment : ${assignments}">
                    <td th:text="${assignment.name}">Assignment Name</td>
                    <td th:text="${assignmentGrades[assignment.id]?.grade ?: 'N/A'}">Grade</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</th:block>
</body>

<th:block layout:fragment="script" th:remove="tag">
<script>
    // TODO: make site not be so ulgy
</script>
</th:block>

</html>
